.list {
  max-height: 50vh;
  overflow-y: scroll;
  margin: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0 !important;
  padding-top: 0 !important;
}

li {
  text-align: start;
  padding-left: 2px;
  padding-bottom: 1px;
}

option,
li {
  padding-right: 10px;
  font-size: 1.1rem;
}

select,
input,
.list {
  padding: 1px 2px;
  min-width: 12rem;
}

select,
input,
.page-title,
.directions {
  border-radius: 3px;
}

select,
input,
#details,
#heading,
#select-a-pokemon,
.page-title,
.directions {
  background-color: rgba(240, 240, 240, 0.5);
  border-width: 1px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
}

.tight {
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
}

.wrapper-title-list {
  margin-bottom: 20px;
  margin-top: 12px;
}

.wrapper-header-details {
  margin-top: 20px;
  margin-bottom: 12px;
}

.page-title {
  font-size: 2.5rem;
  margin-top: 20px;
}

.directions,
.page-title {
  width: fit-content;
  display: inline-block;
}

.egg-group-title {
  display: inline-block;
  min-width: 12rem;
  margin-bottom: 0px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#heading {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none !important;
  margin-bottom: 0;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
}

#details {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none !important;
  padding-bottom: 10px;
  margin-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

#filter,
.tight,
select,
.page-title,
.directions,
#search {
  box-shadow: rgba(0, 0, 0, 0.8) 10px 5px 15px;
}
